* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/wutang.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3rem 1.5rem;
    font-family: 'Archivo', Arial, sans-serif;
    color: black;
    cursor: pointer;
    height:100vh;
}

#container {
    background: rgba(216, 100, 50, 0.924);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 650px;
}



h1 {
    font-family: "Science Gothic", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    margin: .5rem 0;
    color: white;
    font-family: "Science Gothic", sans-serif;
    font-size: 1.25rem;
}

label {
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}


button {
    color: black;
    border: 3px solid black;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    margin-top: .5rem;
    width: 30%;
}

button:hover {
    background: rgba(157, 72, 35, 0.924);
}

#result {
    color: black;
    margin-top:.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}